@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --preto: #121212;
    --branco: #fff3ef;
    --cinza: #b4aaa3;
    --btn-hover: #9e938b;
    --fonte: 'Poppins', sans-serif;
}